* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    list-style-type: none;
    /* outline: 1px dashed red; */
}

body {
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-color:hsl(257, 40%, 49%);
}

header {
    height: 100px;
    padding: 30px;
    margin-bottom: 40px;
}

.logo img {
    width: 120px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container img {
    width: 100%;
}

h1 {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.4rem;
    margin-top: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

button {
    margin: 30px auto 20px auto;
    display: block;
    width: 200px;
    height: 38px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    box-shadow:0 8px 6px -6px black;
    font-size: 0.9rem;
}

.social-media {
    margin-top: 70px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.social-icons li {
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
}



.fab {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*********************************
*             media quey         *
*********************************/

@media (min-width: 960px) {

        body {
            background-image: url(images/bg-desktop.svg);
            background-size: contain;
            height: 100vh;
            
        }
    
        main {
            margin: 0 auto;
            max-width: 1440px;
            display: flex;
            flex-direction: row;
        }
    
        h1 {
            text-align: left;
            width: 600px;
            padding: 1rem;
            font-size: 2rem;
            margin: 2rem;
            line-height: 3rem;
            letter-spacing: 0.2rem;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
        }

        p {
            margin: 2rem;
            padding: 1rem;
            width: 600px;
            text-align: left;
            font-size: 1rem;
            line-height: 1.8rem;
            letter-spacing: 0.1rem;
        }
    
        .logo {
            width: 1440px;
            margin: 0 auto;
            padding-top: 2rem;
        }
    
        .logo img {
            width: 12rem;
        }
        
        .container {
            margin-top: 2.5rem;
         }
    
         button {
            margin: 50px auto 20px 50px;
            height: 45px;
            border-radius: 50px;
            border: none;
            background-color: #fff;
            color: hsl(257, 40%, 49%);
            box-shadow:0 8px 6px -6px black;
            font-size: 0.9rem;
        }
    
        .social-icons {
            display: flex;
            justify-content: flex-end;
            padding-right: 100px;
        }

        .social-icons li {
            margin: 10px;
            width: 40px;
            height: 40px;
        }

}